$primary: #5266df;
$secondary: #14213d;
$danger: #f75959;

/* @import '../node_modules/bootstrap/scss/_functions.scss'; */
/* @import '../node_modules/bootstrap/scss/_variables.scss'; */
@import '../node_modules/bootstrap/scss/bootstrap.scss';